
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light');
  src: url('fonts/woff2/Open_Sans/OpenSans-Light.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular');
  src: url('fonts/woff2/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold');
  src: url('fonts/woff2/Open_Sans/OpenSans-Semibold.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold');
  src: url('fonts/woff2/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic');
  src: url('fonts/woff2/Open_Sans/OpenSansLight-Italic.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSansLight-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic');
  src: url('fonts/woff2/Open_Sans/OpenSans-Italic.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic');
  src: url('fonts/woff2/Open_Sans/OpenSans-SemiboldItalic.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic');
  src: url('fonts/woff2/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2'),
  	url('fonts/ttf/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gandhi Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Gandhi Sans Regular'), local('GandhiSans-Regular');
  src: url('fonts/woff2/Gandhi_Sans/GandhiSans-Regular.woff2') format('woff2'),
    url('fonts/otf/Gandhi_Sans/GandhiSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Gandhi Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Gandhi Sans Italic'), local('GandhiSans-Italic');
  src: url('fonts/woff2/Gandhi_Sans/GandhiSans-Italic.woff2') format('woff2'),
    url('fonts/otf/Gandhi_Sans/GandhiSans-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Gandhi Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Gandhi Sans Bold'), local('GandhiSans-Bold');
  src: url('fonts/woff2/Gandhi_Sans/GandhiSans-Bold.woff2') format('woff2'),
    url('fonts/otf/Gandhi_Sans/GandhiSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gandhi Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Gandhi Sans Bold Italic'), local('GandhiSans-BoldItalic');
  src: url('fonts/woff2/Gandhi_Sans/GandhiSans-BoldItalic.woff2') format('woff2'),
    url('fonts/otf/Gandhi_Sans/GandhiSans-BoldItalic.otf') format('opentype');
}

