
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light');
  src: url('fonts/woff2/Open_Sans/OpenSans-Light.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-Light.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-Light.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), local('Open Sans'), local('OpenSans');
  src: url('fonts/woff2/Open_Sans/OpenSans-Regular.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-Regular.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold');
  src: url('fonts/woff2/Open_Sans/OpenSans-Semibold.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-Semibold.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-Semibold.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold');
  src: url('fonts/woff2/Open_Sans/OpenSans-Bold.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-Bold.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-Bold.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic');
  src: url('fonts/woff2/Open_Sans/OpenSansLight-Italic.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSansLight-Italic.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSansLight-Italic.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSansLight-Italic.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic');
  src: url('fonts/woff2/Open_Sans/OpenSans-Italic.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-Italic.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-Italic.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-Italic.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic');
  src: url('fonts/woff2/Open_Sans/OpenSans-SemiboldItalic.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-SemiboldItalic.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-SemiboldItalic.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic');
  src: url('fonts/woff2/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2');
  src: url('fonts/eot/Open_Sans/OpenSans-BoldItalic.eot') format('embedded-opentype');
  src: url('fonts/ttf/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
  src: url('fonts/svg/Open_Sans/OpenSans-BoldItalic.svg') format('svg');
  src: url(http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

